/* 
==============================================
                    start global roles
==============================================
*/

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: aquamarine;
}

/* 
============================================
                    end global roles
============================================
*/

/* 
============================================
                    start nav role
============================================
*/

.nav{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}

.nav .nav-list{
    list-style: none;
}

.nav .nav-list .nav-item {
    display: inline-block;
}

.nav .nav-list .nav-item{
    position: relative;
}

.nav .nav-list .nav-item .dropdown{
    list-style: none;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    width: 170px;
    top: 35px;
    left: 18px;
    border-top: 3px solid #f00;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.nav .nav-list .nav-item .dropdown::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: -12px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #f00 transparent;
}

.nav .nav-list .nav-item:hover > .dropdown{
    opacity: 1;
    top: 50px;
}
.nav .nav-list .nav-item .dropdown .dropdown-item {
    margin-bottom: 10px;
    color: #141517;
    text-transform: capitalize;
}

.nav .nav-list .nav-item:nth-child(4):after{
    content: "hot";
    position: absolute;
    top:-23px;
    /*left: 2px;
    */background-color: #FF003C;
    color: #fff;
    text-transform: uppercase;
    padding: 6px;
    font-size: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


.nav .nav-list .nav-item a{
    text-decoration: none;
    color: #141517;
    margin-left: 35px;
    font-size: 18px;
    text-transform: capitalize;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
/* #FF9494 */

.nav .nav-list .nav-item a:hover{
    color: #FF2020;
}

.nav .nav-icon i{
    margin-left: 30px;
    color: #141517;
}

/* 
============================================
                    end nav role
============================================
*/
