*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fira Sans', sans-serif;
}

/* start general style */
.mt {
    margin-top: 100px;
}
/* end general style */

.fra3 {
    width: 100%;
    height: 80px;
}

/* start slide section */
.home {
    width: 100%;
    height: 80vh;
    background-image: url("../images/medic-1-8-1.jpg");
    background-size: cover;
    position: relative;
    /* text-align: center; */
}

.home-content {
    /* background-color: #494949; */
    /* hero img */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.home-content .home-title {
    color: #FBFCFC;
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.home-content .home-desc {
    color: #F9F2F8;
    letter-spacing: 1.5px;
    line-height: 2;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
}

.home-content .home-btn{
    /* border: none; */
    border: 1px solid #F9F2F8;
    outline: none;
    padding: 15px 30px;
    margin: 5px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.btn-contact {
    background-color: transparent;
    border: 1px solid #F9F2F8;
    border-radius: 5px;
    color: #F9F2F8;
}

.btn-contact:hover {
    background-color: #F9F2F8;
    color: #303030;
}

.btn-learn:hover{
    /* background-color: #F9F2F8; */
    opacity: 0.5;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(140, 194, 235, 0.8);
}
/* end slide section */

/* start container */
.container {
    width: 85%;
    height: 100%;
    margin: auto;
}
/* end container */

/* start medical*/

.medical {
    width: 100%;
    height: 600px;
    overflow: hidden;
    /* background-color: antiquewhite; */
}

.medical-img{
    width: 50%;
    height: 100%;
    float: left;
    /* background-color: aquamarine; */
}

.medical-img img{
    width: 100%;
    height: 100%;
}

.medical-content {
    width: 50%;
    height: 100%;
    float: left;
    /* background-color: aqua; */
    padding-left: 50px;
}

.medical-content h2{
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #494949;
}

.medical-content p{
    color: #969696;
    /* letter-spacing: 1px; */
    font-size: 15px;
    /* line-height: 1.8; */
    line-height: 1.86em;
    margin-bottom: 20px;

}
.icon-list {
    list-style: none;
}

.icon-item i{
    color: #fff;
    background-color: #469fe4;
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 50%;
    text-align: center;
    padding: 12px;
    margin-bottom: 10px;

}
.icon-item span {
    color: #969696;
    margin-left: 10px;
}

/* end medical*/


/* start middle */
.middle{
    width: 100%;
    height: 300px;
    background-color: #f8f8f8;
    overflow: hidden;
}

.middle-item {
    width: 25%;
    height: 100%;
    text-align: center;
    float: left;
    
}

.md-icon {
    margin: 15% 0 10% 0;
    color: #469fe4;
    
}
.middle-item h2{
    margin-bottom: 15%;
    color: #469fe4;
    font-size: 40px;
    letter-spacing: 1px;
}

.middle-item p{
    color: #A7A7A7;
    font-size: 25px;
    letter-spacing: 1px;
}
/* end middle */

/* start second */

.second {
    width: 50%;
    height: 250px;
    margin: auto;
    /* background-color: #469fe4; */
    overflow: hidden;
    position: relative;
}

.second-item {
    margin-top: 15%;
    text-align: center;
}

.second-item h3{
    margin-bottom: 5%;
    font-size: 30px;
    letter-spacing: 1px;
    color: #494949;
}

.second-item p{
    font-size: 18px;
    letter-spacing: 1px;
    color: #A7A7A7;
}

/* end second */

/* start last */

.last {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.part-one{
    width: 33%;
    height: 100%;
    float: left;
    /* background-color: bisque; */
}

.part-two{
    width: 30%;
    height: 100%;
    float: left;
    /* background-color: aquamarine; */
    margin: 0 20px;
}

.part-three{
    width: 30%;
    height: 100%;
    float: left;
    /* background-color: aqua; */
}

.items {
    width: 100%;
    height: 33%;
    background-color: #fff;
    /* margin: 2px; */
    padding: 20px;
    overflow: hidden;
}

.item-icon {
    font-size: 25px;
    padding-right:10px ;
}

.item-img{
    width: 13%;
    height: 20%;
    margin-top: 15px;
    float: left;
}

.item-text {
    width: 75%;
    height: 100%;
    float: left;

}


.item-text h3 {
    margin: 15px 0;
    color: #797979;
}

.item-text p{
    color: #A9A9A9;
    /* letter-spacing: 1px; */
    font-size: 14px;
    line-height: 1.5;
}

/* end last */

/* start wight space */
.wight-space {
    width: 100%;
    height: 60px;

}
/* end wight space */
/* start happy */
.happy {
    width: 100%;
    height: 700px;
    background-color: #F8F8F8;
}

.hp {
    overflow: hidden;
}

.hp-content {
    width: 50%;
    height: 100%;
    text-align: left;
    float: left;
}

.hp-content h2{
    margin: 150px 0 30px 0;
    font-size: 32px;
    font-weight: 400;
    color: #303030;
    /* line-height: 1.38em; */
}

.hp-content p{
    font-size: 1.04em;
    color: #606060;
    line-height: 1.86em;
    margin-bottom: 30px;
}

/* .hp-list {
    margin-bottom: 150px;
} */

.hp-list li{
    margin-bottom: 20px;
}

.hp-list span{
    font-size: 14px;
    color: #6e6e6e;
}

.hp-icon {
    color: #469fe4;
    margin-right: 10px;
}

.hp-img {
    float: left;

}

.hp-img img{
    width: 500px;
    height: 500px;
 margin-top: 100px;
 margin-left:20px ;
}

/* end happy */


/* start owl */

.owl {
    width: 100%;
    height: 250px;
    /* background-color: #494949; */
    margin-bottom: 100px;
    overflow: hidden;
}

.owl-item {
    width: 32%;
    height: 70%;
    background-color: #F8F8F8;
    color: #868686;
    letter-spacing: 1px;
    line-height: 1.2;
    padding: 15px;
    float: left;
}

.mlr{
    margin: 0 21px;
}

.clr{
    clear: both;
}

.owl-last {
    width: 100%;
    height: 100px;
    margin-top: 0;
    /* background-color: #303030; */
}

.owl-title{
    padding: 0 20px 0 0;
}
.owl-title span{
    text-align: left;
    /* margin: 0 30px 5px 0; */
    margin-top: 20px;
    margin-left: 3%;
    display: inline-block;
    width: 30%;
    color: #898989;
}

.owl-subtitle span{
    margin-left: 3%;
    display: inline-block;
    font-size: 12px;
    width: 30%;
    color: #BABABA;
}
/* end owl */

/* start feeling */
.feel{
    width: 100%;
    height: 350px;
    background-color: #469fe4;
}

.feel-box {
    width: 40%;
    height: 100%;
    margin: auto;
    /* background-color: #303030; */
    text-align: center;
    padding-top: 100px;
}

.feel-item {
    color: #fff;
    /* margin-top: 50px; */
    /* margin-bottom: 20px; */
}

.feel-item h3{
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 32px;
}

.feel-item p{
    letter-spacing: 1px;
    color: #DEEEFA;
    margin-bottom: 35px;

}

.feel-item a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width: 100px;
    height: 60px;
    border: 1px solid #FFF;
    border-radius: 5px;
    text-align: center;
    padding: 18px 8px 0 8px;
    font-weight: 500;
}

.feel-item:hover a{
    color: #000;
    background-color: #fff;
}

/* end feeling */

/* start before footer */
.be-foot {
    width: 100%;
    height: 400px;
    background-color: #456A86;
}

.be-all{
    overflow: hidden;
}

.be-items {
    width: 25%;
    height: 100%;
    float: left;
    padding: 10px;
}

.be-item-title h4{
    font-weight: 500;
    color: #F6F7F9;
    letter-spacing: 1px;
    margin: 50px 0 30px 0;
}

.be-item-body{
    font-size:14px;
    font-weight: 200;
    letter-spacing: 1.5px;
    line-height: 1.5;
    color: #d4dbe0;
    
}

.be-item-body .p-one {
    margin-bottom: 15px;
}

.be-item-content {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #4e728c;

}

.be-item-content h6{
    color: #d4dbe0;
    letter-spacing: 1px;
    font-size: 14px;
    margin-bottom: 8px;
}

.be-item-content:hover h6{
    color: #F6F7F9;
}

.be-item-content p{
    color: #90a6b6;
    font-size: 12px;
}

.be-list {
    list-style: none;
}

.be-list li{
    color: #d4dbe0;
    font-size: 14px;
    border-bottom: 1px solid #4e728c;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.be-list i{
    margin-right: 5px;
    font-size: 20px;
}

.be-list i p{
    font-size: 14px;
    padding-left: 10px;
}

/* end before footer */

/* start footer */
.footer{
    width: 100%;
    height: 80px;
    background-color: #3c5b73;
    /* overflow: hidden; */
}

.foot{
    overflow: hidden;
}

.copy {
    float: left;
    margin-top: 30px;
    color: #d4dbe0;
    font-size: 14px;
}

.copy-icon{
    float: right;
    margin-top: 25px;
}

.sp-icon{
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    width: 30px;
    height: 30px;
    border: .5px solid #173347;
    border-radius: 50%;
    color: #fff;
    /* background-color: #469fe4; */
    background-color: #173347;
}

.indcator{
    float: right;
    margin-right: 12px;
    margin-bottom: 12px;
    width: 35px;
    height: 35px;
    position: fixed;
    right: 0;
    bottom: 0;
    border: .5px solid #d4dbe0;
    background-color: #173347;
    border-radius: 50%;
    color: #d4dbe0;
    text-align: center;
    font-size: 20px;
    padding-top: 3px;
}


/* end footer */

.rt{
    width: 60px;
    height: 100px;
    background-color: rgb(252, 249, 249);
    border-top: 1px solid rgba(219, 219, 219, 0.726);
    border-left: 1px solid rgba(219, 219, 219, 0.726);
    border-bottom: 1px solid rgba(219, 219, 219, 0.726);
    border-radius: 3px;
    position: absolute;
    right: 0;
    
}

.list-p {
    list-style: none;
}

.list-p li {
    margin: 10px ;
    color: #969797;
}

.list-p li:hover .icon-one{
    color: #469fe4;
    cursor: pointer;
}
.list-p li:hover .icon-two{
    color: #469fe4;
    cursor: pointer;
}