*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Fira Sans', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
.clr{
    clear: both;
}

/* mlr {
    margin: 0 8%;
} */

.container{
    width: 85%;
    height: 100%;
    margin: auto;
}

.task {
    width: 100%;
    height: 300px;
    margin-top: 80px;
    overflow: hidden;
}

.item{
    width: 30%;
    height: 100%;
    float: left;
    /* overflow: hidden; */
}

.item-icon{
    width: 10%;
    height: 100%;
    color: #4caf50;
    font-size: 20px;
    font-weight: 500;
    float: left;
}

.item-content{
    width: 90%;
    height: 100%;
    float: left;
    font-size: 20px;

}

.item-content h5{
    margin-bottom: 10px;
    color: #303030;
    letter-spacing: 1px;
}

.item-content p{
    color: #888;
    line-height: 1.5;
}


/* .item-list{
    list-style: none;
} */