*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fira Sans', sans-serif;
}

/* start general style */
.mt {
    margin-top: 100px;
}
/* end general style */

/* start container */
.container {
    width: 80%;
    height: 100%;
    margin: auto;
}
/* end container */

/* start medical*/

.medical {
    width: 100%;
    height: 600px;
    overflow: hidden;
    /* background-color: antiquewhite; */
}

.medical-img{
    width: 50%;
    height: 100%;
    float: left;
    /* background-color: aquamarine; */
}

.medical-img img{
    width: 100%;
    height: 100%;
}

.medical-content {
    width: 50%;
    height: 100%;
    float: left;
    /* background-color: aqua; */
    padding-left: 50px;
}

.medical-content h2{
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #494949;
}

.medical-content p{
    color: #969696;
    /* letter-spacing: 1px; */
    font-size: 15px;
    /* line-height: 1.8; */
    line-height: 1.86em;
    margin-bottom: 20px;

}
.icon-list {
    list-style: none;
}

.icon-item i{
    color: #fff;
    background-color: #469fe4;
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 50%;
    text-align: center;
    padding: 12px;
    margin-bottom: 10px;

}
.icon-item span {
    color: #969696;
    margin-left: 10px;
}

/* end medical*/


/* start middle */
.middle{
    width: 100%;
    height: 300px;
    background-color: #f8f8f8;
    overflow: hidden;
}

.middle-item {
    width: 25%;
    height: 100%;
    text-align: center;
    float: left;
    
}

.md-icon {
    margin: 15% 0 10% 0;
    color: #469fe4;
    
}
.middle-item h2{
    margin-bottom: 15%;
    color: #469fe4;
    font-size: 40px;
    letter-spacing: 1px;
}

.middle-item p{
    color: #A7A7A7;
    font-size: 25px;
    letter-spacing: 1px;
}
/* end middle */

/* start second */

.second {
    width: 50%;
    height: 250px;
    margin: auto;
    /* background-color: #469fe4; */
    overflow: hidden;
}

.second-item {
    margin-top: 15%;
    text-align: center;
}

.second-item h3{
    margin-bottom: 5%;
    font-size: 30px;
    letter-spacing: 1px;
    color: #494949;
}

.second-item p{
    font-size: 18px;
    letter-spacing: 1px;
    color: #A7A7A7;
}

/* end second */

/* start last */

.last {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.part-one{
    width: 33%;
    height: 100%;
    float: left;
    /* background-color: bisque; */
}

.part-two{
    width: 30%;
    height: 100%;
    float: left;
    /* background-color: aquamarine; */
    margin: 0 20px;
}

.part-three{
    width: 30%;
    height: 100%;
    float: left;
    /* background-color: aqua; */
}

.items {
    width: 100%;
    height: 33%;
    background-color: #fff;
    /* margin: 2px; */
    padding: 20px;
    overflow: hidden;
}

.item-icon {
    font-size: 25px;
    padding-right:10px ;
}

.item-img{
    width: 13%;
    height: 20%;
    margin-top: 15px;
    float: left;
}

.item-text {
    width: 75%;
    height: 100%;
    float: left;

}


.item-text h3 {
    margin: 15px 0;
    color: #797979;
}

.item-text p{
    color: #A9A9A9;
    /* letter-spacing: 1px; */
    font-size: 14px;
    line-height: 1.5;
}

/* end last */

/* start wight space */
.wight-space {
    width: 100%;
    height: 60px;

}
/* end wight space */
/* start happy */
.happy {
    width: 100%;
    height: 700px;
    background-color: #F8F8F8;
}

.hp {
    overflow: hidden;
}

.hp-content {
    width: 50%;
    height: 100%;
    text-align: left;
    float: left;
}

.hp-content h2{
    margin: 150px 0 30px 0;
    font-size: 32px;
    font-weight: 400;
    color: #303030;
    /* line-height: 1.38em; */
}

.hp-content p{
    font-size: 1.04em;
    color: #606060;
    line-height: 1.86em;
    margin-bottom: 30px;
}

/* .hp-list {
    margin-bottom: 150px;
} */

.hp-list li{
    margin-bottom: 20px;
}

.hp-list span{
    font-size: 14px;
    color: #6e6e6e;
}

.hp-icon {
    color: #469fe4;
    margin-right: 10px;
}

.hp-img {
    float: left;

}

.hp-img img{
    width: 500px;
    height: 500px;
 margin-top: 100px;
 margin-left:20px ;
}

/* end happy */


/* start owl */

.owl {
    width: 100%;
    height: 250px;
    /* background-color: #494949; */
    margin-bottom: 100px;
    overflow: hidden;
}

.owl-item {
    width: 32%;
    height: 70%;
    background-color: #F8F8F8;
    color: #868686;
    letter-spacing: 1px;
    line-height: 1.2;
    padding: 15px;
    float: left;
}

.mlr{
    margin: 0 21px;
}

.clr{
    clear: both;
}

.owl-last {
    width: 100%;
    height: 100px;
    margin-top: 0;
    /* background-color: #303030; */
}

.owl-title{
    padding: 0 20px 0 0;
}
.owl-title span{
    text-align: left;
    /* margin: 0 30px 5px 0; */
    margin-top: 20px;
    margin-left: 3%;
    display: inline-block;
    width: 30%;
    color: #898989;
}

.owl-subtitle span{
    margin-left: 3%;
    display: inline-block;
    font-size: 12px;
    width: 30%;
    color: #BABABA;
}
/* end owl */

/* start feeling */
.feel{
    width: 100%;
    height: 300px;
    background-color: #469fe4;
}

.feel-box {
    width: 40%;
    height: 100%;
    margin: auto;
    /* background-color: #303030; */
    text-align: center;
    padding-top: 100px;
}

.feel-item {
    color: #fff;
    /* margin-top: 50px; */
    /* margin-bottom: 20px; */
}

.feel-item h3{
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 32px;
}

.feel-item p{
    letter-spacing: 1px;
    color: #DEEEFA;
    margin-bottom: 35px;

}

.feel-item a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width: 90px;
    height: 60px;
    border: 1px solid #FFF;
    border-radius: 5px;
    text-align: center;
    padding: 15px 5px 0 5px;
}

.feel-item:hover a{
    color: #000;
    background-color: #fff;
}

/* end feeling */